* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    align-self: auto;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    align-self: center;
  }
  
  .results {
    list-style: none;
    padding-left: 0;
  }
  
  .results > li, .new-form, .rating-form{
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
    background-color: #555555;
    color: white;
  }
  
  .bookmark-item {
    display: block;
    color: grey;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 15px;
  }

  #button-add-bookmark {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  a {
    color: hotpink;
}

#rating-bookmark, #form-submit-button, #form-cancel-button, .css-item{
  background-color:  #555555;
  border: none;
  color: hotpink;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer;
}

